/***** MENU *****/

.container-page {
    width: 100%;
    max-width: 100%;
    box-shadow: var(--blocShadow);
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999999;
}

.container-screen {
    width: 100%;
    max-width: 1440px;
    padding: 0 4rem;
    margin: auto;
}

nav {
    max-width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0 0 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-home {
    font-size: 1.6em;
    font-family: var(--police1);
    color: var(--couleurNoir);
    display: flex;
}

.menu-bloc {
    color: var(--couleurNoir);
    display: flex;
}

.item-menu {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas {
    font-size: 1.2em;
    margin: 0 .25rem 0 0;
}



